* {
  margin: none;
  padding: none;
}

html,
body {
  height: max-content;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 360px;
  /* background-color: rgb(177, 166, 151); */
  flex-direction: column;
  align-items: center;
}

nav {
  display: grid;
  place-items: center;
}

.game_container {
  height: 90%;
  width: 90%;
  border-radius: 2%;
  background-color: bisque;
  display: grid;
}
.start_container {
  min-width: 10rem;
  display: grid;
  place-items: center;
}
.start {
  padding: 2.5rem 4rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(220, 20, 60);
  font-size: larger;
  font-weight: 600;
  color: yellow;
}

.player_count_container {
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.player_count_selector {
  display: grid;
  place-items: center;
}
.player_count_selector button,
.name_input_btn {
  width: 80%;
  height: 2rem;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 800;
  border: none;
  background-color: crimson;
  border-radius: 2rem;
  color: yellow;
}

.input_player_names {
  flex-direction: column;
  align-items: center;
}
.name_input_btn {
  margin-top: 2rem;
  height: 4rem;
  width: 90%;
}
input {
  padding: 0.6rem;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 1rem;
  font-size: large;
  font-weight: 600;
  width: 90%;
  text-align: center;
}

.game_body {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.rounds_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.rounds_container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rounds_selector {
  display: flex;
}
.rounds_count,
.call_count {
  border: 2px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
  background-color: lightblue;
  min-width: 2rem;
  flex-grow: 1;
  font-size: large;
}
.call_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.call_container h2 {
  align-self: center;
}
/* player call selector detail */
.player_call {
  display: flex;
  align-items: center;
}
.call_selector {
  flex-grow: 2;
  display: flex;
}
.call_container h2 {
  flex-grow: 1;
}
